* {
    --gray: #e3e3e3;
    --white: #ffffff;
}

#hamburgerIcon {
    width: 1.6rem;
}

body {
    background: lightblue;
}

.wrapper {
    background: orange;
    max-width: 1920px;
    margin: 0 auto;
}

.section-header {
    background: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
}

.section-header p {
    max-width: 600px;
}

/*
    NAV | START
*/

.wrapper nav {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
}

.wrapper nav .content .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper nav .content ul {
    display: none;
}

@media screen and (min-width: 1023px) {
    .wrapper nav {
        padding: 0.5rem 4rem;
    }

    .wrapper nav .content .hamburger {
        display: none;
    }

    .wrapper nav .content ul {
        display: flex;
        gap: 1rem;
    }

    .wrapper nav .content ul li a {
        color: black;
    }
}

/*
    NAV | END
*/

/*
    HERO | START
*/

.wrapper .hero {
    background: var(--gray);
    height: 80vh;
    max-height: 1024px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.wrapper .hero .content {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper .hero .content div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wrapper .hero div a {
    background: blue;
    width: fit-content;
    color: var(--white);
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 1023px) {
    .wrapper .hero .content {
        padding: 0rem 4rem;
        max-width: 750px;
    }
}

/*
    HERO | END
*/

/*
    COMPANY VALUES | START
*/

.company-values {
    background: var(--white);
}

.company-values .content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
    gap: 1rem;
}

.company-values .content .item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.company-values .content .item-content p {
    max-width: 400px;
}

.company-values .content .item-content .image {
    width: 250px;
    min-height: 150px;
    background: var(--gray);
    flex-shrink: 0;
}

@media screen and (min-width: 1023px) {
    .company-values .content {
        grid-template-columns: 1fr 1fr;
        padding: 0rem 4rem;
        gap: 2rem;
    }

    .company-values .content .item-content {
        flex-direction: row;
    }
}

/*
    COMPANY VALUES | END
*/

/*
    OUR WORK | START
*/

.work .clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.work .projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.work .projects .project .image {
    background: var(--gray);
    height: 200px;
    width: auto;
}

@media screen and (min-width: 1023px) {
    .work .clients {
        flex-direction: row;
        gap: 2rem;
        padding: 0;
        padding-bottom: 4rem;
    }

    .work .projects {
        padding: 0rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 1rem;
    }

    .work .projects .project .image {
        height: 250px;
    }
}

/*
    OUR WORK | END
*/

/*
    OUR TEAM | START
*/

.team {
    background: red;
}

.team .members {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0rem 1rem;
}

.team .members .member {
    background: yellowgreen;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.team .members .member .image {
    width: 200px;
    height: 200px;
    background: var(--gray);
    border-radius: 50%;
}

.team .members .member .info {
    background: orange;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.team .members .member .info .content {
    background: blanchedalmond;
}

.team .members .member .info .icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.team .members .member .info .icons .icon {
    background: var(--gray);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media screen and (min-width: 1023px) {
    .team .members {
        padding: 0rem 4rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
/*
    OUR TEAM | END
*/

/*
    TESTIMONIALS | START
*/

.testimonials .content {
    background: yellow;
}

.testimonials .content .image {
}

/*
    TESTIMONIALS | END
*/

/*
    OUR PLANS | START
*/

.plans {
    display: none;
}

/*
    OUR PLANS | END
*/

/*
    OUR BLOG | START
*/

.blog {
    display: none;
}

/*
    OUR BLOG | END
*/

/*
    CONSULTATION | START
*/

.consulation {
    display: none;
}

/*
    CONSULTATION | END
*/

/*
    FOOTER | START
*/

footer {
    margin-top: 4rem;
    background: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

@media screen and (min-width: 1023px) {
    footer {
        padding: 0rem 4rem;
    }
}

/*
    FOOTER | END
*/
