* {
    --gray: #e3e3e3;
    --white: #ffffff;
}

#hamburgerIcon {
    width: 1.6rem;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    background: orange;
    max-width: 1920px;
}

.section-header {
    background: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
}

/*
    NAV | START
*/

.wrapper nav {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
}

.wrapper nav .content .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper nav .content ul {
    display: none;
}

@media screen and (min-width: 1023px) {
    .wrapper nav {
        padding: 0.5rem 4rem;
    }

    .wrapper nav .content .hamburger {
        display: none;
    }

    .wrapper nav .content ul {
        display: flex;
        gap: 1rem;
    }

    .wrapper nav .content ul li a {
        color: black;
    }
}

/*
    NAV | END
*/

/*
    HERO | START
*/

.wrapper .hero {
    background: var(--gray);
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem 1rem;
}

.wrapper .hero .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper .hero .content div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wrapper .hero div a {
    background: blue;
    width: fit-content;
    color: var(--white);
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 1023px) {
    .hero .content {
        padding: 0rem 4rem;
        max-width: 750px;
    }
}

/*
    HERO | END
*/

/*
    COMPANY VALUES | START
*/

.company-values {
    background: var(--white);
}

.company-values .content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
    gap: 1rem;
}

.company-values .content .item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.company-values .content .item-content p {
    max-width: 400px;
}

.company-values .content .item-content .image {
    width: 250px;
    min-height: 150px;
    background: var(--gray);
    flex-shrink: 0;
}

@media screen and (min-width: 1023px) {
    .company-values .content {
        grid-template-columns: 1fr 1fr;
        padding: 0rem 4rem;
        gap: 2rem;
    }

    .company-values .content .item-content {
        flex-direction: row;
    }
}

/*
    COMPANY VALUES | END
*/
